<h1>{{title}}</h1>
<div>
Country: <input type="text" #countrynameinput>
  <button (click)="getCountryName(countrynameinput)">search</button>
</div>


  <div *ngIf="CheckIfIsUs()&&!isEmpty">

  <ul *ngFor="let Date of UsData">
  <li (click)="setSelectedDate(Date)">{{Date.date}}</li>
  </ul>

    <div style="position: fixed; top: 35%; right: 0;">
      Confirmed Cases: {{SelectedDate.confirmed}} <br>
      Active Cases: {{SelectedDate.active}} <br>
      Deaths: {{SelectedDate.deaths}} <br>
    </div>


  </div>

  <div *ngIf="!CheckIfIsUs()&&!isEmpty">
    Sorry, Covid-19 data for this country is currently not available.
  </div>


