<h1>{{title}}</h1>

<div>
Country: <input type="text" #countrynameinput>
  <button (click)="getCountryName(countrynameinput);getCountryData()">search</button>
</div>
<!--<form action = "http://localhost:3000/ps4" method="get">-->
<!--  <label for="CountryName">Country:</label>-->
<!--  <input type = "text" id = "CountryName" name = "CountryName">-->
<!--  <input type = "submit" value = "Search">-->
<!--</form>-->

<app-get-country-data [CountryDataByTime]="CountryDataByTime"
                      [isEmpty]="isEmpty" [Cashed]="Cashed"></app-get-country-data>




