<h1>{{CountryName}}</h1>

<div *ngIf="!(CountryDataByTime==undefined)">
  Cashed:{{Cashed}}
  <ul *ngFor="let Date of CountryDataByTime">
    <li (click)="setSelectedDate(Date)">{{Date.date}}</li>
  </ul>

  <div style="position: fixed; top: 35%; right: 0;">
    Confirmed Cases: {{SelectedDate.confirmed}} <br>
    Active Cases: {{SelectedDate.active}} <br>
    Deaths: {{SelectedDate.deaths}} <br>
  </div>
</div>

<div *ngIf="CountryDataByTime==undefined&&!isEmpty">
  Sorry, Covid-19 data for this country is currently not available.
</div>


